@model News

@{
    ViewData["Title"] = "Delete";
}

<div class="page-container">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <img style="height: 400px" class="img-thumbnail" src="~/images/@Model.PhotoURL" />
                        <p>@Model.Title</p>
                    </div>
                </div>
            </div>

            <form method="post">
                <div class="alert alert-danger mt-4">
                    <p style="padding-top: 0;"><b>Bu xeberi silmek istediyinizi eminsiniz ?</b></p>
                </div>
                <input type="submit" class="btn btn-danger btn-block btn-lg" value="Delete" />
            </form>

            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn btn-danger mt-3" asp-action="Index">Back To Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>

